[Unit]
Description=Email Reporter (Rocketry)
After=network-online.target
Wants=network-online.target
# ~/.config/systemd/user/*.service
# | Goal                               | Put file where?           | Starts on reboot?          | Needs sudo? |
# | ---------------------------------- | ------------------------- | -------------------------- | ----------- |
# | System-wide service                | `/etc/systemd/system/`    | Yes                        | Yes         |
# | Per-user service                   | `~/.config/systemd/user/` | Yes (with `enable-linger`) | No          |
# | Arbitrary directory like `~/local` | **No** — won’t be read    | n/a                        | n/a         |

[Service]
ExecStart=%h/.local/bin/uv run main.py
WorkingDirectory=%h/repo/mysmtp
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

